<link type="text/css" href='/styles/fonts.css' rel='stylesheet'/>
<link type="text/css" href='/styles/site.css' rel='stylesheet'/>
<link type="text/css" href='/styles/semantic.min.css' rel='stylesheet'/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/semantic.min.js"></script>

<div class="top-bar">
    <div class="container clearfix">
        <img class="logo" src='/images/weixin_logo.png'/>
    </div>
</div>

<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">Welcome，微信测试客户端</h1>
        <h2>从这里开始</h2>
        <div class="steps">
            <ul class="getting-started">
                <li>
                    <div class="sprite one"></div>
                    <div>
                        <h3>获得 Access_Token</h3>
                        
                        <div class="three fluid ui buttons">
                            <div id="getAccessToken" class="ui tiny purple button">获得AccessToken</div>
                        </div>
                        <pre><div id="accessTokenLabel" class="jerrylabel">''</div></pre>
                        <!--<span class="boxy"><label id="accessTokenLabel">''</label></span>-->
                    </div>
                </li>
                <li>
                    <div class="sprite two"></div>
                    <div>
                        <h3>根据OPENID查询用户信息：</h3>                        
                        <div class="ui input">
                            <input id="idinput" name="content" type="text" placeholder="WeChat ID here...">
                        </div>
                
                        <div class="three fluid ui buttons">
                            <div id="queryuser" class="ui small orange button">立即查询</div>
                        </div>
                        <!--<pre><div id="userLable" class="ui label">''</div></pre>-->
                        <pre><div id="userLable" class="jerrylabel">''</div></pre>
                        <!--<label id="userLable">''</label>-->
                    </div>
                </li>
                <li>
                    <div class="sprite three"></div>
                    <div>
                        <h3>分组接口测试（Grouping）：</h3>                        
                        <div class="ui input">
                            <input id="groupNameInput" name="groupinput" type="text" placeholder="要建立的组名称...">
                        </div>
                        <div class="three fluid ui buttons">
                            <div id="createGroup" class="ui small teal button">创建组
                            </div>
                            <div id="queryGroup" class="ui small blue button">查询组名称
                            </div>
                            <div id="queryUsers" class="ui small red button">关注者列表
                            </div>
                        </div>
                        <!--<pre><div id="groupLable" class="ui small label">''</div></pre>-->
                        <pre><div id="groupLable" class="jerrylabel">''</div></pre>
                    </div>
                </li>
                <li>
                    <div class="sprite four"></div>
                    <div>
                        <br />
                        <h3>微信高级群发接口的一些限制:</h3>
                        <p>在公众平台网站上，为订阅号提供了每天一条的群发权限，为服务号提供每月（自然月）4条的群发权限。而对于某些具备开发能力的公众号运营者，可以通过高级群发接口，实现更灵活的群发能力。 </p>
                        <h4><strong>请注意：</strong></h4>
                        <span class="boxy">1、该接口暂时仅提供给已微信认证的服务号; </span>
                        <br />
                        <span class="boxy">2、虽然开发者使用高级群发接口的每日调用限制为100次，但是用户每月只能接收4条，请小心测试; </span>
                        <br />
                        <span class="boxy">3、无论在公众平台网站上，还是使用接口群发，用户每月只能接收4条群发消息，多于4条的群发将对该用户发送失败。</span>

                    </div>
                </li>                
            </ul>
        </div>
        <!--<div class="delete">
            <div class="sprite">You're looking at: <span class="boxy">index.html</span></div>
        </div>-->
    </div>
    <div class="side-bar">
        <h4 id="new">
            微信全局返回码说明：
        </h4>
        <ul>
            <li>-1	 系统繁忙  | 0	 请求成功 </li>
            <li>40001 获取access_token时AppSecret错误，或者access_token无效</li>
            <li>43001 需要GET请求 | 43002	 需要POST请求 | 43003	 需要HTTPS请求</li>
            <li>42001 access_token超时 | 42002 refresh_token超时</li>
            <li>45016 系统分组，不允许修改 | 45017 分组名字过长</li>
            <li>45018 分组数量超过上限</li>
            <li>40002 不合法的凭证类型 | 40003 不合法的OpenID</li>
            <li>40013 不合法的APPID | 40014 不合法的access_token</li>
            <li>40029 不合法的oauth_code | 40030 不合法的refresh_token</li>
            <li>40031 不合法的openid列表 | 40032 不合法的openid列表长度</li>
            <li>40035 不合法的参数 | 40038	 不合法的请求格式</li>
        </ul>
        <h4>
            下一步要完成的：
        </h4>
        <ul>
            <li class="sprite single_page">
                <a target="_blank" href="#">尝试IBM Unica集成?</a>
            </li>
            <li class="sprite traditional">
                <a target="_blank" href="#">完善Web App</a>
            </li>
            <li class="sprite realtime">
                <a target="_blank" href="#">微信客户端？</a>
            </li>
            <li class="sprite api">
                <a target="_blank" href="#">REST的API封装</a>
            </li>
        </ul>
    </div>
</div>

<!-- scripts goes here -->
<script>
// 获取ACCESSTOKEN
$("#getAccessToken").click( function(){
    $.post('/gettoken', {}, function(data){
        alert(JSON.stringify(data));
        var token = data.token;
        $("#accessTokenLabel").text('拿到了Token，2小时后过期 : ' + token);
    }); 

});
// 创建group
$("#createGroup").click( function(){
    var name = $("#groupNameInput").val();

    $.ajax({
        url: '/group',
        type: 'POST',
        data: JSON.stringify({gname:name}),
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        success: function(data){
            alert(JSON.stringify(data));
            $("#groupLable").text(JSON.stringify(data, null, 4));
        }
    });
});

// 根据OPENID查询用户微信的完整信息

$("#queryuser").click( function(){
    var idinput = $("#idinput").val();

    $.ajax({
        url: '/queryuser',
        type: 'POST',
        data: JSON.stringify({openid:idinput}),
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        success: function(data){
            alert(JSON.stringify(data, null, 4));
            $("#userLable").AutoSize = false;
            $("#userLable").text(JSON.stringify(data, null, 4));
        }
    });
});

// 查询group
$("#queryGroup").click(function(){
    $.post('/querygroup', {}, function(data){
        var backdata = JSON.stringify(data, null, 4);
        //alert();
        $("#groupLable").AutoSize = false;
        $("#groupLable").text('返回的group信息: \n' + backdata);
    }); 
});

// 获取关注者列表
$("#queryUsers").click(function(){
    $.post('/queryUsers', {}, function(data){
        var backdata = JSON.stringify(data, null, 4);
        //alert();
        $("#groupLable").AutoSize = false;
        $("#groupLable").text('返回的group信息: \n' + backdata);
    }); 
});

</script>

